@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/nav';

// =========================================================
// BODY
// =========================================================
body {
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        
        // =========================================================
        // SECTION / FEED
        // =========================================================
        section.feed {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1500px;
            min-height: 80vh;
            border-radius: 10px;
            padding: 100px 20px 100px;
            background-color: $color-accent-transparent;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100px,
                black calc(100% - 100px),
                transparent 100%
            );

            // SECTION HEADER
            .section-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding-bottom: 20px;

                h2 { 
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    font-family: $titulo;
                    margin-right: 30px;
                    text-shadow: $color-dark 3px 3px 0;
                    width: 100%;
                }

                small { font-style: italic; }
            }

            article {
                padding: 5px;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;

                .boton {
                    width: 300px;
                    height: 300px;
                    background-color: $color-light;
                    color: $color-dark;
                    border: 3px solid $color-light;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    font-size: 1.8em;
                    font-weight: bold;
                    text-decoration: none;
                    cursor: pointer;
                    box-shadow: $color-shadow 5px 5px 0;
                    transition: 0.2s ease;

                    &:nth-child(4n + 1) { --item-color: #{$color-primary}; }
                    &:nth-child(4n + 2) { --item-color: #{$color-votacion}; }
                    &:nth-child(4n + 3) { --item-color: #{$color-incidencia}; }
                    &:nth-child(4n + 4) { --item-color: #{$color-aviso}; }

                    &:hover {
                        color: $color-light;
                        font-size: 2em;
                        transform: scale(1.05);
                        text-shadow: $color-shadow 4px 4px;
                        box-shadow: $color-shadow 10px 10px 0;
                        background-color: var(--item-color);
                    }

                    i { font-size: 3em; }
                }
            }
        }
    }
}