@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("./variables");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SN Pro";
  font-size: 0.99em;
}

html {
  background: url(../../img/salon2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.menu-checkbox {
  display: none;
}

.aside-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 250;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.menu-button {
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
  border: 2px solid #f5f5ff;
  z-index: 400;
  background-color: #f5f5ff;
  color: #2e1c15;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  font-size: 1.5em;
  padding: 7px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.menu-button:hover {
  transform: scale(1.1);
  background-color: #ca7740;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px 0;
}

.menu-checkbox:checked ~ aside.main-aside {
  right: 0;
  opacity: 1;
}
.menu-checkbox:checked ~ .menu-button {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-checkbox:checked ~ .aside-overlay {
  opacity: 1;
  visibility: visible;
}

.hr-section {
  width: 100%;
  margin-bottom: 30px;
  border: 3px solid #f5f5ff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
}

header.body-header {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../../img/madera.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header.body-header a.btn-index {
  background: linear-gradient(to bottom, rgba(202, 119, 64, 0.5333333333), #2e1c15);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 2px solid #f5f5ff;
  border-radius: 100px;
  box-shadow: #000 0 0 10px 2px;
}
header.body-header a.btn-index:hover {
  z-index: 200;
  transform: scale(1.02);
  animation: animarFondo 0.7s linear infinite;
}
header.body-header a.btn-index img {
  width: 90px;
  padding: 16px 13px 10px;
}
@media (max-width: 950px) {
  header.body-header a.btn-index h1 {
    display: none;
  }
}
header.body-header a.btn-index h1 {
  color: #f5f5ff;
  font-size: 3em;
  font-family: "Croissant One";
  margin-right: 30px;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px;
}
header.body-header .user {
  position: relative;
  background: linear-gradient(to bottom, rgba(202, 119, 64, 0.5333333333), #2e1c15);
  padding-left: 30px;
  border: 2px solid #f5f5ff;
  border-right: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
  box-shadow: #000 0 0 10px 2px;
}
header.body-header .user .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}
header.body-header .user .user-info strong {
  font-size: 1.2em;
  font-family: "Croissant One";
}
header.body-header .user .user-info hr {
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid #f5f5ff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 1px 1px 0;
}
header.body-header .user .user-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header.body-header .user .user-trigger img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border: 2px solid #f5f5ff;
  border-radius: 100px;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.6431372549) -5px 0 5px 0;
}
header.body-header .user .user-trigger img:hover {
  transform: scale(1.1);
}
header.body-header .user .user-dropdown {
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  width: 250px;
  background-color: #f5f5ff;
  border: 3px solid #2e1c15;
  border-radius: 5px;
  box-shadow: #000 5px 5px 15px;
  z-index: 400;
  text-shadow: none;
}
header.body-header .user .user-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.body-header .user .user-dropdown ul li:last-child {
  border: none;
  border-top: 3px solid #2e1c15;
}
header.body-header .user .user-dropdown ul li a {
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  color: #2e1c15;
  text-decoration: none;
  transition: all 0.2s ease;
}
header.body-header .user .user-dropdown ul li a i {
  width: 20px;
  text-align: center;
}
header.body-header .user .user-dropdown ul li a:hover {
  background-color: #ca7740;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
}
header.body-header .user .user-dropdown ul li a.logout:hover {
  background-color: #c2503c;
}
header.body-header .user.is-active .user-dropdown {
  display: block;
}
header.body-header .user.is-active .user-trigger img {
  transform: scale(1.1);
  box-shadow: #000 0 0 10px 2px;
}

.main-aside {
  width: 360px;
  max-width: 80%;
  padding: 100px 30px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 300;
  transition: all 0.4s ease;
  border-left: 2px solid #f5f5ff;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 0 0 30px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #2e1c15, rgba(202, 119, 64, 0.5333333333), rgba(202, 119, 64, 0.5333333333), #2e1c15);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-aside::-webkit-scrollbar {
  display: none;
}
.main-aside h3 {
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  font-size: 1.8em;
  font-family: "Croissant One";
  margin-bottom: 10px;
}
.main-aside hr {
  border: 2px solid #f5f5ff;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main-aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-aside ul li {
  position: relative;
}
.main-aside ul li a, .main-aside ul li p {
  background-color: #f5f5ff;
  color: #2e1c15;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Croissant One";
  text-decoration: none;
  text-wrap: nowrap;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #f5f5ff;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.main-aside ul li p {
  cursor: pointer;
}
.main-aside ul li:hover > a, .main-aside ul li:hover > p {
  transform: scale(1.05);
  background-color: #ca7740;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.main-aside ul li.has-dropdown .submenu {
  background-color: rgba(0, 0, 0, 0.6431372549);
  border: 3px solid rgba(0, 0, 0, 0.6431372549);
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
  transition: all 0.4s ease;
}
.main-aside ul li.has-dropdown .submenu li a {
  background-color: #f5f5ff;
  border-color: #f5f5ff;
  color: #2b3015;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}
.main-aside ul li.has-dropdown .submenu li a:hover {
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px;
  background-color: #ca7740;
}
.main-aside ul li.has-dropdown.is-active > p {
  transform: scale(1.05);
  background-color: #ca7740;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px 0;
  margin-bottom: 5px;
}
.main-aside ul li.has-dropdown.is-active .submenu {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  padding: 10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 150;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 0 10px 10px 1px;
  background: url(../../img/madera.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav ul.navegacion {
  width: 100%;
  border-bottom: 2px solid #f5f5ff;
  list-style-type: none;
  padding: 15px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
  text-wrap: nowrap;
  font-size: 1.2em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8431372549) 0, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
}
nav ul.navegacion li {
  font-family: "Croissant One";
}
nav ul.navegacion li a {
  color: #f5f5ff;
  font-family: "Croissant One";
}
nav .btn-back {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 4px 5px;
  border: 2px solid #f5f5ff;
  background-color: #f5f5ff;
  color: #351b10;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
nav .btn-back:hover {
  transform: scale(1.1);
  background-color: #ca7740;
  color: #f5f5ff;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px 0;
}

.msg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
  min-width: 300px;
  pointer-events: auto;
  padding: 16px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 2px 2px;
  color: white;
  background-color: #db9a20;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 0 0 15px 5px;
  animation: aparecer-desaparecer 8s ease-in-out forwards;
}

@keyframes aparecer-desaparecer {
  0% {
    opacity: 0;
    top: -50px;
  }
  8% {
    opacity: 1;
    top: 20px;
  }
  92% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}
body {
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body main section.feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  min-height: 80vh;
  border-radius: 10px;
  padding: 100px 20px 100px;
  background-color: rgba(130, 145, 62, 0.5058823529);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100px, black calc(100% - 100px), transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 100px, black calc(100% - 100px), transparent 100%);
}
body main section.feed .section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 20px;
}
body main section.feed .section-header h2 {
  flex: 1;
  color: #f5f5ff;
  font-size: 2.5em;
  font-family: "Croissant One";
  margin-right: 30px;
  text-shadow: rgba(0, 0, 0, 0.6431372549) 3px 3px 0;
  width: 100%;
}
body main section.feed .section-header small {
  font-style: italic;
}
body main section.feed article {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
body main section.feed article .boton {
  width: 300px;
  height: 300px;
  background-color: #f5f5ff;
  color: #2b3015;
  border: 3px solid #f5f5ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 5px 5px 0;
  transition: 0.2s ease;
}
body main section.feed article .boton:nth-child(3n+1) {
  --item-color: #ca7740;
}
body main section.feed article .boton:nth-child(3n+2) {
  --item-color: #db9a20;
}
body main section.feed article .boton:nth-child(3n+3) {
  --item-color: #c2503c;
}
body main section.feed article .boton:hover {
  color: #f5f5ff;
  font-size: 2em;
  transform: scale(1.05);
  text-shadow: rgba(0, 0, 0, 0.6431372549) 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.6431372549) 10px 10px 0;
  background-color: var(--item-color);
}
body main section.feed article .boton i {
  font-size: 3em;
}/*# sourceMappingURL=panel_control.css.map */