@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/service-card';
@import '../common/pager';
@import '../common/nav';
@import '../common/msg';

// =========================================================
// BODY
// =========================================================
body {
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        // =========================================================
        // SERVICES
        // =========================================================
        .services {
            width: 100%;
            max-width: 1200px;
            background-color: $color-primary-transparent;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 100px 20px 100px;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100px,
                black calc(100% - 100px),
                transparent 100%
            );

            // SERVICES HEADER
            .services-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding-bottom: 20px;

                h2 { 
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    font-family: $titulo;
                    margin-right: 30px;
                    text-shadow: $color-shadow 3px 3px 0;
                    width: 100%;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }

                small { 
                    font-style: italic;
                    font-weight: lighter;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
                
                form {
                    margin-left: auto;
                    width: 100%;
                    max-width: 300px;
                    display: flex;
                    justify-content: flex-end;

                    input {
                        background-color: $color-light;
                        padding: 10px;
                        border: 3px solid $color-light;
                        border-right: none;
                        border-radius: 50px 0 0 50px;
                        width: 100%;
                        color: $color-primary-dark;
                        font-size: 1em;
                        box-shadow: $color-shadow 3px 3px 0;
                        transition: all 0.2s ease;

                        &::-webkit-search-cancel-button { -webkit-appearance: none; }

                        &:focus {
                            outline: none;
                            border-color: $color-accent;

                            & + button {
                                border-color: $color-accent;
                            }
                        }
                    }

                    button {
                        padding: 10px;
                        background-color: $color-light;
                        border: 3px solid $color-light;
                        border-left: none;
                        border-radius: 0 50px 50px 0;
                        color: $color-primary-dark;
                        box-shadow: $color-shadow 3px 3px 0;
                        transition: all 0.2s ease;
                    }
                }
            }

            // SERVICES BODY
            .services-body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 40px;
                padding-bottom: 40px;

                .no-results {
                    text-align: center;
                    padding: 50px;
                    background-color: $color-primary;
                    box-shadow: 
                        inset $color-primary-dark 0 0 50px 10px,
                        $color-shadow 3px 3px 0;
                    border: 3px solid $color-light;
                    border-radius: 10px;
                    color: $color-light;
                    text-shadow: $color-shadow 2px 2px;

                    h3 { 
                        margin-bottom: 10px; 
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                    }


                    i {
                        font-size: 3rem; 
                        color: $color-light;
                        margin-bottom: 15px;
                    }

                    a {
                        background-color: $color-light;
                        display: inline-block; 
                        text-decoration: none;
                        color: $color-primary-dark;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $color-primary-dark;
                        margin-top: 20px;
                        text-shadow: none;
                        padding: 20px;
                        gap: 15px;
                        box-shadow: $color-shadow 3px 3px 0;
                        transition: all 0.2s ease;
                        word-wrap: break-word;
                        overflow-wrap: break-word;

                        &:hover {
                            transform: scale(1.03);
                            box-shadow: $color-shadow 5px 5px 0;
                            background-color: $color-accent;
                            color: $color-light;
                            text-shadow: $color-shadow 2px 2px;

                            i { color: $color-light; }
                        }

                        i { 
                            color: $color-primary-dark; 
                            font-size: 2em;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}