@font-face {
    font-family: 'Imprima';
    src: url(/eComunitree/fonts/Imprima-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #482a0d;
    font-family: 'Imprima';
}


body {
    background-color: #89997c;

    padding: 30px 10%;
}

header {
    background-color: #f5b97f;

    border-radius: 20px;
    padding: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

img {
    width: 6.5vw;
}

main {
    background-color: #fcfaf0;

    padding: 3% 5%;
    border-radius: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5vw;
}

h3 {
    font-size: 2vw;
    text-align: center;
}

section {
    background-color: #89997c;

    padding: 40px;
    border-radius: 10px;
}

article p {
    color: #fcfaf0;

    text-align: center;
}

#check {
    width: 35px;
}

label {
    color: #fcfaf0;

    font-size: 1.5vw;
}

input {
    background-color: #d4e3c9;
    color: #4a5342;
    accent-color: #d4e3c9;

    border: #4a5342 solid 3px;
    border-radius: 10px;
    
    height: 3vw;
    width: 95%;
    padding: 10px 2%;

    font-size: 1.5vw;

    display: block;
}

button {
    background-color: #f5b97f;
    color: #482a0d;

    font-weight: bolder;
    cursor: pointer;

    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 0;

    font-size: 2.5vw;
}

a {
    text-decoration: none;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#registrarse {
    display: flex;
    flex-direction: column;
    gap: 100px;

    margin-top: 40px;
}




@media (min-width: 1200px) {

    section {
        display: flex;
        gap: 10%; 
    }

    article {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    article p {
        flex-basis: 50%;

        font-size: 2.3vw;
    }

    #registrarse button {
        flex-basis: 50%;
    }

    form {
        gap: 40px;
    }

    #recuerdame {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}