@import 'variables';

.feed-body article {
    max-width: 940px;
    background: url(../../img/madera3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 0 auto 100px;
    border: 2px solid $color-light;
    display: flex;
    flex-direction: column;
    box-shadow: $color-shadow 0 0 20px 20px;

    &:last-child { margin-bottom: 30px; }

    &.advert-card { --article-color: #{$color-aviso}; }

    &.incidence-card { --article-color: #{$color-incidencia}; }

    &.vote-card { --article-color: #{$color-votacion}; }

    // =========================================================
    // ARTICLE HEADER
    // =========================================================
    header.article-header {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        border-radius: 10px;
        color: $color-primary-dark;

        // ARTICLE HEADER TITLE
        h3 { 
            flex: 1 1 auto;
            background-color: $color-primary;
            padding: 10px;
            box-shadow: 
                $color-shadow 10px 10px 0,
                inset $color-shadow 0 0 10px 3px;
            border: 2px solid $color-light;
            border-radius: 10px 0 0 0;
            color: $color-light;
            text-shadow: $color-shadow 3px 3px;
            font-size: 2.2em; 
            font-family: $titulo;
            margin-bottom: 20px;
            text-wrap: balance;
            word-wrap: break-word;
            overflow-wrap: break-word;

            i { 
                margin-right: 10px; 
                color: $color-light;
                background-color: var(--article-color);
                border-radius: 5px;
                width: 60px;
                height: 50px;
                padding: 5px;
                border: 3px solid $color-primary-dark;
                box-shadow: $color-shadow 2px 2px 0;
            }

            @include respond-to(small) {
                flex: 1 1 100%;
                border-radius: 10px 10px 0 0;
                text-wrap: balance;
                margin-bottom: 0;
            }
        }

        // ARTICLE HEADER USER
        .article-header-user {
            flex: 0 0 auto;
            align-items: center;
            margin-left: auto;
            padding: 5px 5px 5px 15px;
            font-size: 1.2em;
            border-radius: 0 10px 0 0;
            display: flex;
            gap: 30px;
            background-color: $color-light;
            box-shadow: $color-shadow 10px 10px 0;

            @include respond-to(small) {
                flex: 1 1 100%;
                margin-left: 0;
                border-radius: 0;
                justify-content: space-between;
                text-wrap: wrap;
            }

            img {
                object-fit: cover;
                aspect-ratio: 1 / 1;
                width: 70px;
                height: 70px;
                box-shadow: $color-shadow 0 0 5px 0;
                border-radius: 100px;
            }

            .user-info {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                font-size: 0.8em;
                text-wrap: wrap;

                strong {
                    font-size: 1.2em;
                    font-weight: bold;
                    font-family: $titulo;
                    margin-bottom: 10px;
                }

                p { font-style: italic; }
            }
        }
    }

    // =========================================================
    // ARTICLE BODY
    // =========================================================
    section.article-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: $color-light;
        border-radius: 0 0 10px 10px;
        box-shadow: $color-shadow 10px 10px 0;

        // ARTICLE BODY CONTENT
        div.article-body-content {
            display: flex;
            flex-direction: column;
            font-size: 1.7em;
            background-color: $color-primary-dark;
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: $color-shadow 0 0 10px 3px;

            // ARTICLE BODY TITLE
            h4 {
                width: auto;
                max-width: calc(100% - 30px);
                margin: 15px;
                color: $color-primary-dark;
                font-size: 0.8em; 
                font-weight: bold;
                font-family: $titulo;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: $color-light;
                word-wrap: break-word;
                overflow-wrap: break-word;
                display: inline-block;
            }

            img {
                display: block;
                width: 100%;
                max-width: 600px;
                height: auto;
                object-fit: contain;
                border: 2px solid $color-light;
                border-radius: 5px;
                margin: 0 auto 30px;
                box-shadow: $color-shadow 4px 4px 0;

                @include respond-to(small) { max-width: 90%; }
            }

            p { 
                margin: 30px;
                font-size: 1em; 
                font-weight: bold;
                text-shadow: $color-shadow 3px 3px;
                line-height: 1.3em;
                color: $color-light;
                word-wrap: break-word;
                overflow-wrap: break-word;

                i { 
                    font-size: 0.7em; 
                    display: inline-block;

                    &:first-child { 
                        transform: translateY(-10px) rotate(-15deg); 
                    }
                    &:last-child { 
                        transform: translateY(-10px) rotate(15deg); 
                    }
                }
            }
        }

        // ARTICLE BODY DATE
        .article-header-date {
            display: flex;
            gap: 10px;
            text-align: end;
            text-wrap: nowrap;
            margin-left: auto;
            font-size: 0.9em;
            color: $color-primary-dark;

            p { 
                font-weight: bold;
                font-family: $titulo;
                text-wrap: nowrap;
            }

            i { margin-right: 5px; }
        }
    }

    // =========================================================
    // ARTICLE FORM FOOTER
    // =========================================================
    .article-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-shadow 3px 3px;
        font-size: 1.5em;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        box-shadow: $color-shadow 10px 10px 0;
        background-color: color-mix(in srgb, $color-primary-dark, transparent 20%);

        strong, p { 
            i { margin-right: 10px; }
        }
        
        strong { 
            text-decoration: underline;
            font-family: $titulo;
        }

        // VOTE BUTTONS
        .vote-btns {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;

            @include no-subrayable;

            .vote-option {
                cursor: pointer;
                position: relative;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                span {
                    max-width: 350px;
                    display: inline-block;
                    background-color: $color-primary;
                    padding: 5px 10px;
                    border-radius: 50px;
                    border: 3px solid $color-light;
                    box-shadow: $color-shadow 6px 6px 0;
                    color: $color-light;
                    font-size: 1em;
                    font-weight: bold;
                    transition: all 0.1s ease;
                    text-align: center;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }

                &:hover span {
                    background-color: darken($color-primary, $amount: 10);
                    transform: scale(0.95);
                    box-shadow: $color-shadow 4px 4px 0;
                }

                &:active span {
                    background-color: darken($color-primary, $amount: 20);
                    transform: scale(0.9);
                    box-shadow: none;
                }

                input[type="radio"]:checked + span {
                    background-color: $color-accent;
                    color: $color-light;
                    border: 3px solid $color-light;
                    cursor: default;
                    box-shadow: $color-shadow 4px 4px 0;
                }

                .vote-number {
                    display: inline-block;
                    width: fit-content;
                    background-color: $color-light;
                    padding: 5px 10px;
                    border-radius: 50px;
                    color: $color-primary-dark;
                    text-shadow: none;
                    margin-left: 10px;
                    text-wrap: nowrap;
                }
            }
        }

        button.vote-confirm {
            width: 100%;
            max-width: 300px;
            padding: 20px;
            border: 3px solid $color-light;
            border-radius: 10px;
            color: $color-light;
            box-shadow: $color-shadow 3px 3px;
            font-size: 1em;
            font-weight: bold;
            font-family: $titulo;
            text-shadow: $color-shadow 3px 3px;
            transition: all 0.2s ease;
            background: linear-gradient(
                to right,
                $color-primary-dark 0%,
                $color-primary 50%,
                $color-primary 51%,
                $color-primary-dark 100%
            );
            background-size: 210% 100%;
            background-position: left center;

            &:hover {
                background-position: right center;
                cursor: pointer;
                background-color: $color-primary;
                color: $color-light;
                border: 3px solid $color-light;
                transform: scale(1.1);
                box-shadow: $color-shadow 5px 5px;
            }
        }

        .voted-msg { 
            color: $color-light; 
            font-style: italic;
        }

        .estado {
            text-decoration: none;

            @include respond-to(small) { font-size: 0.8em; }

            strong { text-decoration: none; }
        }
    }

    .edit-del-btns {
        margin-top: 25px;
        margin-left: auto;

        .btn-del, .btn-edit {
            background-color: $color-primary;
            padding: 5px;
            border-radius: 5px;
            color: $color-light;
            text-shadow: $color-shadow 1px 1px;
            margin-left: 15px;
            box-shadow: $color-shadow 3px 3px 0;
            transition: all 0.2s ease;

            i { margin-right: 5px; }

            &:hover { 
                background-color: $color-light; 
                color: $color-primary-dark;
                text-shadow: none;
            }
        }
    }
}

