@import 'variables';

.msg {
    width: calc(100% - 40px);;
    max-width: 500px;
    min-width: 280px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 900;
    pointer-events: auto;
    padding: 15px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-weight: bold;
    font-size: 1.2em;
    border: 3px solid $color-light;
    text-shadow: $color-shadow 2px 2px;
    color: $color-light;
    background-color: $color-accent;
    box-shadow: $color-shadow 0 0 15px 5px;
    animation: aparecer-desaparecer 5s ease-in-out forwards;

    i { font-size: 1.5em; }

    p {
        margin: 0;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .btn-cerrar-msg {
        width: 50px;
        height: 50px;
        background: none;
        border: 3px solid $color-light;
        color: $color-accent;
        font-size: 1.1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: $color-light;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2) rotate(-180deg);
            color: $color-light;
            text-shadow: none;
            background-color: $color-accent-dark;
        }
    }
}

@keyframes aparecer-desaparecer {
    0% { opacity: 0; top: -50px; }
    8% { opacity: 1; top: 20px; }
    92% { opacity: 1; top: 20px; }
    100% { opacity: 0; top: -50px; }
}
