@import './variables';

$color-dark: #351b10;

nav {
    position: sticky;
    top: 0;
    z-index: 150;
    box-shadow: $color-shadow 0 10px 10px 1px;
    background: url(../../img/madera.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    ul.navegacion {
        width: 100%;
        border-bottom: 2px solid $color-light;
        list-style-type: none;
        padding: 15px 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-shadow 2px 2px;
        text-wrap: nowrap;
        font-size: 1.2em;
        background: linear-gradient(
            to top,
            #000000d7 0,
            #ffffff00 90%,
            #ffffff00 100%,
        );
        
        li {
            font-family: $titulo;

            a { 
                color: $color-light; 
                font-family: $titulo; 
            }
        }
    }

    .btn-back {
        position: absolute;
        top: 5px;
        left: 10px;
        padding: 4px 5px;
        border: 2px solid $color-light;
        background-color: $color-light;
        color: $color-dark;
        box-shadow: $color-shadow 3px 3px 0;
        font-size: 1.5em;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
    
        &:hover {
            transform: scale(1.1);
            background-color: $color-accent;
            color: $color-light;
            text-shadow: $color-shadow 3px 3px;
            box-shadow: $color-shadow 5px 5px 0;
        }
    }
}