@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$titulo: 'Croissant One';
$parrafo: 'SN Pro';

$color-primary: #82913e;
$color-primary-dark: #2b3015;
$color-primary-transparent: #82913e81;

$color-accent: #ca7740;
$color-accent-dark: #2e1c15;
$color-accent-transparent: #ca774088;
$color-accent-dark-transparent: #5c351bda;

$color-light: #f5f5ff;
$color-light-transparent: #ffffff8e;

$color-shadow: #000000a4;

$color-votacion: #5e9979;
$color-incidencia: #c2503c;
$color-aviso: #db9a20;