@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

@import '../variables';
@import '../mixins';

@mixin input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
}

@mixin button {
    @include input;
    font-weight: bold;
    cursor: pointer;
    background-color: darken($color-primary, $amount: 20);
    color: $color-light;
    &:hover {
        background-color: darken($color-primary, $amount: 10);
    }
}

@mixin section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Imprima';
}

// =========================================================
// HTML
// =========================================================
html {
    background: url(../../img/fondo-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    // =========================================================
    // BODY
    // =========================================================
    body {
        background-color: $color-light-transparent;
        border-radius: 20px;
        padding: 20px;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        // =========================================================
        // HEADER
        // =========================================================
        header {
            background-color: $color-accent;
            border-radius: 15px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        
            img {
                width: 100px;
            }
            
            h1 {
                @include respond-to(small) { font-size: 3em; }
                font-size: 3.5em;
                color: $color-light;
                text-shadow: darken($color-primary, 10%) 5px 5px 0px;
            }
        }
    
        h2 {
            font-size: 1.5em;
            margin: 20px;
            text-align: center;
            color: darken($color-primary, $amount: 20);
        }
    
        // =========================================================
        // MAIN
        // =========================================================
        main {
            background-color: $color-primary;
            border-radius: 15px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            gap: 80px;
            
            @include respond-to(small) { flex-direction: column; }
            @include respond-to(medium_large) { flex-direction: row; }
        
            h3 {
                color: $color-light;
                text-shadow: darken($color-primary, $amount: 20) 3px 3px 0;
                font-size: 2em;
            }
        
            // =========================================================
            // FORMULARIO
            // =========================================================
            form {
                @include section;
        
                input {
                    @include input;
                }
        
                .recuerdame {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-left: 15px;
        
                    .check {
                        width: 20px;
                        height: 20px;
                    }
        
                    label { color: $color-light; }
                }
        
                button { @include button; }
                
            }
        
            hr {
                border: 2px solid darken($color-primary, $amount: 10);
                border-radius: 10px;
            }
            
            // =========================================================
            // REGISTRARSE
            // =========================================================
            .registrarse {
                @include section;
        
                p {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    color: $color-light;
                    font-size: 1.8em;
                    text-align: center;
        
                }
        
                button { @include button; }
            }
        }
    }
}