@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imprima";
}

body {
  background: url(../../img/fondo-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 50px 20px;
}

main {
  background-color: rgba(255, 255, 255, 0.3843137255);
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  background-color: rgba(174, 180, 116, 0.8549019608);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
header img {
  width: 100px;
}
header h1 {
  font-size: 4em;
  color: rgba(41.3294392523, 43.1939252336, 23.3060747664, 0.8549019608);
  text-shadow: rgba(104.7219626168, 109.4462616822, 59.0537383178, 0.8549019608) 3px 3px 0px;
}

h3 {
  font-size: 1.5em;
  margin: 20px;
  text-align: center;
  color: rgba(12.7111111111, 20.2888888889, 12.7111111111, 0.8784313725);
}

.contenido {
  background-color: rgba(52, 83, 52, 0.8784313725);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .contenido {
    flex-direction: column;
    gap: 30px;
  }
}
@media (min-width: 601px) {
  .contenido {
    flex-direction: row;
    gap: 60px;
  }
}
.contenido h2 {
  color: rgba(12.7111111111, 20.2888888889, 12.7111111111, 0.8784313725);
  font-size: 2em;
  margin-bottom: 30px;
}
.contenido form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}
.contenido form input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
}
.contenido form .recuerdame {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}
.contenido form .recuerdame .check {
  width: 20px;
  height: 20px;
}
.contenido form .recuerdame label {
  color: #fcf8f0;
}
.contenido form button {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgba(12.7111111111, 20.2888888889, 12.7111111111, 0.8784313725);
  color: #fcf8f0;
}
.contenido form button:hover {
  background-color: rgba(32.3555555556, 51.6444444444, 32.3555555556, 0.8784313725);
}
.contenido hr {
  border: 2px solid rgba(32.3555555556, 51.6444444444, 32.3555555556, 0.8784313725);
  border-radius: 10px;
}
.contenido .registrarse {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}
.contenido .registrarse p {
  color: #fcf8f0;
  font-size: 1.8em;
  text-align: center;
}
.contenido .registrarse button {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgba(12.7111111111, 20.2888888889, 12.7111111111, 0.8784313725);
  color: #fcf8f0;
}
.contenido .registrarse button:hover {
  background-color: rgba(32.3555555556, 51.6444444444, 32.3555555556, 0.8784313725);
}
@media (min-width: 601px) {
  .contenido .registrarse button {
    margin-top: 60px;
  }
}/*# sourceMappingURL=login.css.map */