@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

$color-primario: #fcf8f0;
$color-secundario: #daab6e;
$color-form: #678167;
$color-fondo: #7e976f;

// RESPONSIVE TAMAÑO FIJO
@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $size == medium {
        @media (min-width: 601px) and (max-width: 1200px) {
            @content;
        }
    }
}
// RESPONSIVE TAMAÑO MÍNIMO
@mixin respond-to-min($size) {
    @if $size == medium {
        @media (min-width: 601px) {
            @content;
        }
    }
    @else if $size == large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}

@mixin input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
    box-shadow: darken($color-form, 20%) 5px 5px 0px 1px;
}

@mixin button {
    @include input;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    background-color: $color-secundario;
    color: darken($color-secundario, 50%);
    &:hover {
        background-color: lighten($color-secundario, 10%);
        color: darken($color-secundario, 40%);
    }
}

@mixin section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Imprima';
}

html {
    background-color: $color-fondo;
    padding: 50px 20px;
}

body {
    background-color: $color-primario;
    box-shadow: darken($color-fondo, 20%) 5px 5px 0px 0px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    background-color: $color-secundario;
    box-shadow: darken($color-secundario, 20%) 5px 5px 0px 0px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    img {
        width: 100px;
    }
    
    h1 {
        font-size: 4em;
        color: darken($color-secundario, 45%);
        text-shadow: darken($color-secundario, 25%) 3px 3px 0px;
    }
}

h3 {
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    color: darken($color-secundario, 40%);
    text-shadow: #bebebd 2px 2px 0px;
}

main {
    background-color: $color-form;
    box-shadow: darken($color-form, 20%) 5px 5px 0px 0px;
    text-shadow: darken($color-form, 20%) 2px 2px 0px; 
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
    @include respond-to(small) {
        flex-direction: column;
    }
    @include respond-to-min(medium) {
        flex-direction: row;
    }

    h2 {
        color: $color-primario;
        font-size: 2em;
        margin-bottom: 30px;
    }

    form {
        @include section;

        input {
            @include input;
        }

        .recuerdame {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 15px;

            .check {
                width: 20px;
                height: 20px;
            }

            label {
                color: $color-primario;
            }
        }

        button {
            @include button;
        }
        
    }

    hr {
        border: 2px solid $color-primario;
        border-radius: 10px
    }
    
    .registrarse {
        @include section;

        p {
            color: $color-primario;
            font-size: 1.8em;
            text-align: center
        }

        button {
            @include button;
            @include respond-to-min(medium) {
                margin-top: 60px;
            }
        }
    }
}

