$color-primary: #345334e0;
$color-accent: #6d833ae0;
$color-accent-light: #afce8d;
$color-dark: #152015e0;
$color-light: #d9d9ce;
$color-light-transparent: #ffffff62;
$color-aside-background: #745b2ce0;