@import 'variables';

.main-aside {  
    width: 360px;
    max-width: 80%;
    padding: 100px 30px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 300;
    transition: all 0.4s ease;
    border-left: 2px solid $color-light;
    box-shadow: $color-dark 0 0 30px 10px;
    
    background: linear-gradient(
        to bottom,
        $color-dark,
        $color-accent,
        $color-accent,
        $color-dark
    );

    h3 {
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 1.8em;
        font-family: $subtitulo;
        margin-bottom: 10px;
    }

    hr {
        border: 2px solid $color-light;
        box-shadow: $color-dark 3px 3px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            position: relative;

            &:nth-child(4n + 1) { --item-color: #{$color-primary}; }
            &:nth-child(4n + 2) { --item-color: #{$color-accent-light}; }
            &:nth-child(4n + 3) { --item-color: #{$color-accent}; }
            &:nth-child(4n + 4) { --item-color: #{lighten($color-dark, 30%)}; }

            a, p {
                background-color: $color-light;
                color: $color-dark;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                padding: 10px;
                border: 3px solid $color-dark;
                box-shadow: $color-dark 4px 4px 0;
                border-radius: 10px;
                transition: all 0.2s ease;
            }

            p { cursor: default; }

            &:hover > a, &:hover > p {
                transform: scale(1.05);
                background-color: var(--item-color);
                color: $color-light;
                text-shadow: $color-dark 3px 3px;
                box-shadow: $color-dark 6px 6px 0;
            }

            &:hover > p { margin-bottom: 5px; }

            &.has-dropdown {
                .submenu {
                    background-color: $color-dark-transparent;
                    border: 3px solid $color-dark;
                    border-top: none;
                    box-shadow: $color-dark 3px 3px 0;
                    display: flex; 
                    flex-direction: column;
                    gap: 10px;
                    max-height: 0;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    padding: 0 10px;
                    margin: 0 10px;
                    border-radius: 0 0 10px 10px;
                    transition: all 0.4s ease;
    
                    li {
                        &:nth-child(4n + 1) { --item-color: #{$color-primary}; }
                        &:nth-child(4n + 2) { --item-color: #{$color-accent-light}; }
                        &:nth-child(4n + 3) { --item-color: #{$color-accent}; }
                        &:nth-child(4n + 4) { --item-color: #{lighten($color-dark, 30%)}; }
    
                        a { 
                            background-color: $color-light;
                            border-color: $color-dark;
                            color: $color-dark;
                            text-shadow: none;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 1.2em; 
    
                            &:hover {
                                color: $color-light;
                                text-shadow: $color-dark 2px 2px;
                                transform: scale(1.05);
                                box-shadow: $color-dark 5px 5px;
                                background-color: var(--item-color);
                            }
                        }
                    }
                }
    
                &:hover .submenu { 
                    max-height: 500px;
                    opacity: 1;
                    visibility: visible;
                    padding: 10px;
                }
            }
        }
    }
}