@import 'variables';

.main-aside {  
    width: 360px;
    max-width: 80%;
    padding: 100px 30px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 100;
    transition: all 0.4s ease;
    border-left: 2px solid $color-light;
    box-shadow: $color-dark 0 0 30px 10px;
    
    background: linear-gradient(
        to bottom,
        $color-dark,
        $color-accent,
        $color-accent,
        $color-dark
    );

    h3 {
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 1.8em;
        font-family: $subtitulo;
        margin-bottom: 10px;
    }

    hr {
        border: 2px solid $color-light;
        box-shadow: $color-dark 3px 3px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            position: relative;

            a, p {
                background-color: $color-light;
                color: $color-dark;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                padding: 10px;
                border: 3px solid $color-dark;
                box-shadow: $color-dark 4px 4px 0;
                border-radius: 10px;
                transition: all 0.2s ease;
            }

            p { cursor: default; }

            &:hover > a, &:hover > p {
                transform: scale(1.05);
                background-color: $color-primary;
                color: $color-light;
                text-shadow: $color-dark 3px 3px;
                box-shadow: $color-dark 6px 6px 0;
            }

            &:hover > p { margin-bottom: 5px; }
        }
    }
}