* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Imprima';
}

html {
    background: url(../../img/fondo-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}