.btn-filter {
    width: 100%;
    max-width: 250px;
    color: $color-dark;
    background-color: $color-light;
    padding: 15px;
    border: 3px solid $color-dark;
    box-shadow: $color-dark 2px 2px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-decoration: none;
    text-align: end;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.05);
        color: $color-light;
        text-shadow: $color-dark 1px 2px;
        background-color: $color-accent-light;
        box-shadow: $color-dark 3px 3px;
    }
}

.filter-container { position: relative; }

.filter-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 5px;
}

.filter-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.filter-menu a:hover { background: #f0f0f0; }