@import 'variables';

.feed-body article {
    background-color: $color-light-transparent;
    padding: 20px;
    margin-bottom: 50px;
    border: 5px solid $color-light;
    box-shadow: $color-darken 5px 5px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.advert-card { --article-color: #{$color-primary}; }
    &.incidence-card { --article-color: #{$color-accent-light}; }
    &.vote-card { --article-color: #{$color-accent}; }

    // =========================================================
    // ARTICLE HEADER
    // =========================================================
    header.article-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        text-shadow: $color-dark 2px 2px;

        // ARTICLE HEADER USER
        .article-header-user {
            @include respond-to(small) { font-size: 1.2em; }
            font-size: 1.5em;
            margin-right: 30px;
            border-radius: 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            img {
                width: 90px;
                border: 3px solid $color-light;
                border-radius: 100px;
                box-shadow: #000 0 0 20px 5px;
            }

            .user-info {
                display: flex;
                flex-direction: column;
                color: lighten($color-dark, $amount: 40);

                strong {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: $color-light;
                }
            }
        }

        // ARTICLE HEADER DATE
        .article-header-date {
            @include respond-to(small) { 
                font-size: 1em; 
                margin-top: 4px;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            text-align: end;
            text-wrap: nowrap;
            font-size: 1.2em;
            margin-top: 8px;
            margin-right: 10px;
            margin-left: auto;

            strong { 
                font-family: $subtitulo;
                color: $color-light; 
                gap: 10px;
            }

            p { 
                font-family: $subtitulo;
                font-weight: bold;
                color: lighten($color-dark, $amount: 40);
                text-wrap: nowrap;
            }

            i { margin-left: 10px; }
        }
    }

    // =========================================================
    // ARTICLE BODY
    // =========================================================
    section.article-body {
        padding: 30px;
        color: $color-light;
        display: flex;
        gap: 30px;
        flex-direction: column;
        background-color: var(--article-color);
        border: 5px solid $color-light;
        box-shadow: $color-dark 5px 5px;
        border-radius: 40px;
        color: $color-light;

        // ARTICLE BODY TITLE
        header.article-body-title {
            @include respond-to(small) { font-size: 0.7em; }
            
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 { 
                font-family: $subtitulo;
                font-size: 2.2em; 
                text-shadow: $color-dark 3px 3px 0;
            }

            h4 { 
                width: 100%;
                font-size: 2em; 
                text-shadow: $color-dark 3px 3px 0;
            }

            p { font-size: 1.5em ; }
        }

        // ARTICLE BODY CONTENT
        div.article-body-content {
            @include respond-to(small) { font-size: 0.7em; }

            display: block;
            overflow: hidden;
            background-color: $color-light;
            color: $color-dark;
            border-radius: 40px;
            border: 5px solid $color-dark;
            box-shadow: $color-dark 5px 5px;

            img {
                @include respond-to(small) {
                    float: none;
                    display: block;
                    margin: 30px auto 30px;
                }
                float: left;
                width: 200px;
                height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border: 5px solid $color-dark;
                border-radius: 20px;
                margin: 30px;
            }

            p { 
                font-size: 1.5em; 
                font-weight: bold;
                margin: 30px;

                i { 
                    font-size: 1.6em; 
                }
            }
        }
    }

    // =========================================================
    // ARTICLE FORM FOOTER
    // =========================================================
    .article-footer {
        @include respond-to(small) { font-size: 1.2em; }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 1.5em;
        padding: 20px;
        border-radius: 40px;
        margin-top: 10px;

        strong, p { width: 100%; }

        time { font-family: $subtitulo; }
        
        hr {
            border: 2px solid $color-light;
            border-radius: 10px;
            box-shadow: $color-dark 3px 3px 0;
            width: 100%;
            margin: 15px;
        }

        // VOTE BUTTONS
        .vote-btns {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: $color-dark-transparent;
            border-radius: 20px;

            @include no-subrayable;

            .vote-option {
                cursor: pointer;
                position: relative;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                span {
                    @include respond-to(small) { font-size: 0.8em; }
                    display: inline-block;
                    background-color: $color-primary;
                    padding: 15px 10px;
                    border-radius: 50px;
                    border: 3px solid $color-light;
                    box-shadow: $color-dark 6px 6px 0;
                    color: $color-light;
                    font-size: 1em;
                    font-weight: bold;
                    transition: all 0.1s linear;
                    text-wrap: nowrap;
                    text-align: center;
                }

                &:hover span {
                    background-color: darken($color-primary, $amount: 10);
                    transform: scale(0.95);
                    box-shadow: $color-darken 4px 4px 0;
                }

                &:active span {
                    background-color: darken($color-primary, $amount: 20);
                    transform: scale(0.85);
                    box-shadow: none;
                }

                input[type="radio"]:checked + span {
                    background-color: $color-accent-light;
                    color: $color-light;
                    border: 3px solid $color-light;
                    transform: scale(0.95);
                    cursor: default;
                    box-shadow: $color-dark 4px 4px 0;
                }

                .vote-number {
                    display: inline;
                    width: fit-content;
                    background-color: $color-light;
                    padding: 10px;
                    border-radius: 50px;
                    font-family: $subtitulo;
                    color: $color-dark;
                    text-shadow: none;
                    margin-left: 10px;
                }
            }
        }

        button.vote-confirm {
            width: 100%;
            max-width: 300px;
            padding: 20px;
            border: 3px solid $color-light;
            border-radius: 10px;
            color: $color-light;
            box-shadow: $color-dark 3px 3px;
            font-family: $subtitulo;
            font-size: 1em;
            font-weight: bold;
            transition: all 0.2s ease;
            background: linear-gradient(
                to right,
                $color-dark 0%,
                $color-accent-transparent 50%,
                $color-primary 51%,
                $color-accent-light 100%
            );
            background-size: 210% 100%;
            background-position: left center;

            &:hover {
                background-position: right center;
                cursor: pointer;
                background-color: $color-dark;
                color: $color-light;
                border: 3px solid $color-light;
                transform: scale(1.1);
                box-shadow: $color-dark 5px 5px;
                text-shadow: $color-dark 3px 3px;
            }
        }

        .voted-msg { color: $color-light; }

        .estado {
            background-color: $color-dark-transparent;
            padding: 20px;
            width: 100%;
            border-radius: 20px;
            
            strong, small { font-family: $subtitulo; }
        }
    }
}

