@import 'variables';

.feed-body article {
    background: url(../../img/ladrillos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 50px;
    border: 3px solid $color-light;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &.advert-card { --article-color: #{$color-primary}; }
    &.incidence-card { --article-color: #{$color-accent-light}; }
    &.vote-card { --article-color: #{$color-accent}; }

    // =========================================================
    // ARTICLE HEADER
    // =========================================================
    header.article-header {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        border-radius: 10px;

        // ARTICLE HEADER TITLE
        h3 { 
            flex: 1 1 auto;
            background-color: var(--article-color);
            padding: 10px;
            box-shadow: $color-shadow 10px 10px 0;
            border: 3px solid $color-light;
            border-radius: 10px 0 0 0;
            color: $color-light;
            text-shadow: $color-shadow 3px 3px;
            text-wrap: nowrap;
            font-size: 2.2em; 
            font-family: $titulo;
            margin-bottom: 20px;

            i { margin-right: 10px; }

            @include respond-to(small) {
                flex: 1 1 100%;
                border-radius: 10px 10px 0 0;
                text-wrap: balance;
                margin-bottom: 0;
            }
        }

        // ARTICLE HEADER USER
        .article-header-user {
            flex: 0 0 auto;
            align-items: center;
            margin-left: auto;
            padding: 5px 5px 5px 15px;
            font-size: 1.2em;
            border-radius: 0 10px 0 0;
            display: flex;
            gap: 30px;
            background-color: $color-light;
            box-shadow: $color-shadow 10px 10px 0;

            @include respond-to(small) {
                flex: 1 1 100%;
                margin-left: 0;
                border-radius: 0;
                justify-content: space-between;
                text-wrap: wrap;
            }

            img {
                width: 70px;
                height: 70px;
                box-shadow: $color-shadow 0 0 5px 0;
                border-radius: 100px;
            }

            .user-info {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                font-size: 0.8em;
                color: $color-dark;
                text-wrap: nowrap;

                strong {
                    font-size: 1.2em;
                    font-weight: bold;
                    font-family: $titulo;
                    margin-bottom: 10px;
                }

                p { font-style: italic; }
            }
        }
    }

    // =========================================================
    // ARTICLE BODY
    // =========================================================
    section.article-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: $color-light;
        border-radius: 0 0 10px 10px;
        color: $color-dark;
        box-shadow: $color-shadow 10px 10px 0;

        // ARTICLE BODY CONTENT
        div.article-body-content {
            display: block;
            overflow: hidden;
            font-size: 1.7em;
            border: 3px solid $color-dark;
            background-color: $color-card;
            color: $color-light;
            margin-bottom: 10px;
            border-radius: 10px;

            // ARTICLE BODY TITLE
            h4 {
                width: fit-content;
                margin: 15px;
                color: $color-dark;
                border: 3px solid $color-dark;
                font-size: 1em; 
                font-weight: bold;
                font-family: $titulo;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: $color-light;
            }

            img {
                float: left;
                width: 200px;
                height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border: 5px solid $color-dark;
                border-radius: 20px;
                margin: 30px;
            }

            p { 
                margin: 30px;
                font-size: 1.5em; 
                font-weight: bold;
                text-shadow: $color-shadow 3px 3px;
                line-height: 1.3em;

                i { 
                    font-size: 0.7em; 
                    &:first-child { 
                        transform: translateY(-10px) rotate(-15deg); 
                    }
                    &:last-child { 
                        transform: translateY(-10px) rotate(15deg); 
                    }
                }
            }
        }

        // ARTICLE BODY DATE
        .article-header-date {
            display: flex;
            gap: 10px;
            text-align: end;
            text-wrap: nowrap;
            margin-left: auto;
            font-size: 0.9em;

            p { 
                font-weight: bold;
                font-family: $titulo;
                text-wrap: nowrap;
            }

            i { margin-right: 5px; }
        }
    }

    // =========================================================
    // ARTICLE FORM FOOTER
    // =========================================================
    .article-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-shadow 3px 3px;
        font-size: 1.5em;
        border: 3px solid $color-light;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        background-color: $color-dark-transparent;
        box-shadow: $color-shadow 10px 10px 0;

        strong, p { 
            i { margin-right: 10px; }
        }
        
        strong { 
            text-decoration: underline;
            font-family: $titulo;
        }

        // VOTE BUTTONS
        .vote-btns {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;

            @include no-subrayable;

            .vote-option {
                cursor: pointer;
                position: relative;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                span {
                    display: inline-block;
                    background-color: $color-accent;
                    padding: 15px 10px;
                    border-radius: 50px;
                    border: 3px solid $color-light;
                    box-shadow: $color-shadow 6px 6px 0;
                    color: $color-light;
                    font-size: 1em;
                    font-weight: bold;
                    transition: all 0.05s ease;
                    text-wrap: nowrap;
                    text-align: center;
                }

                &:hover span {
                    background-color: darken($color-accent, $amount: 10);
                    transform: scale(0.95);
                    box-shadow: $color-shadow 4px 4px 0;
                }

                &:active span {
                    background-color: darken($color-accent, $amount: 20);
                    transform: scale(0.85);
                    box-shadow: none;
                }

                input[type="radio"]:checked + span {
                    background-color: $color-accent-light;
                    color: $color-light;
                    border: 3px solid $color-light;
                    transform: scale(0.95);
                    cursor: default;
                    box-shadow: $color-shadow 4px 4px 0;
                }

                .vote-number {
                    display: inline;
                    width: fit-content;
                    background-color: $color-light;
                    padding: 10px;
                    border-radius: 50px;
                    color: $color-dark;
                    text-shadow: none;
                    margin-left: 10px;
                }
            }
        }

        button.vote-confirm {
            width: 100%;
            max-width: 300px;
            padding: 20px;
            border: 3px solid $color-light;
            border-radius: 10px;
            color: $color-light;
            box-shadow: $color-shadow 3px 3px;
            font-size: 1em;
            font-weight: bold;
            font-family: $titulo;
            transition: all 0.2s ease;
            background: linear-gradient(
                to right,
                $color-dark 0%,
                $color-accent-transparent 50%,
                $color-primary 51%,
                $color-accent-light 100%
            );
            background-size: 210% 100%;
            background-position: left center;

            &:hover {
                background-position: right center;
                cursor: pointer;
                background-color: $color-dark;
                color: $color-light;
                border: 3px solid $color-light;
                transform: scale(1.1);
                box-shadow: $color-shadow 5px 5px;
                text-shadow: $color-shadow 3px 3px;
            }
        }

        .voted-msg { 
            color: $color-light; 
            font-style: italic;
        }

        .estado {
            text-decoration: none;

            strong { text-decoration: none; }
        }
    }
}

