section.feed article {
    background: linear-gradient(
        to bottom, 
        $color-dark-transparent 0,
        $color-dark-transparent 70px,
        $color-primary-transparent 150px,
        $color-primary-transparent 100%) ;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

    // =========================================================
    // ARTICLE HEADER
    // =========================================================
    header.article-header {
        border-radius: 55px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        // ARTICLE HEADER USER
        .article-header-user {
            @include respond-to(small) { font-size: 1.2em; }
            color: $color-dark;
            font-size: 1.5em;
            margin-right: 30px;
            border-radius: 50px;
            display: flex;
            gap: 20px;

            img {
                @include respond-to(small) { width: 70px; }
                width: 90px;
                border: 5px solid $color-dark;
                border-radius: 100px;
            }

            .user-info {
                display: flex;
                flex-direction: column;
                color: $color-light;

                strong {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: $color-accent-light
                }
            }
        }

        // ARTICLE HEADER DATE
        .article-header-date {
            @include respond-to(small) { 
                font-size: 1em; 
                margin-top: 4px;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            text-align: end;
            font-size: 1.2em;
            margin-top: 8px;
            margin-right: 10px;
            margin-left: auto;

            strong { 
                color: $color-accent-light; 
                gap: 10px;
            }

            p { 
                font-weight: bold;
                color: $color-light;
                text-wrap: nowrap;
            }

            i { margin-left: 10px; }
        }
    }

    // =========================================================
    // ARTICLE BODY
    // =========================================================
    section.article-body {
        border-radius: 30px;
        color: $color-light;
        display: flex;
        flex-direction: column;
        gap: 30px;

        // ARTICLE BODY TITLE
        header.article-body-title {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: $color-dark;
            padding: 20px;
            border-radius: 20px;
            color: $color-accent-light;

            h3 { 
                font-size: 1.5em; 
                color: $color-light;
                font-family: $subtitulo;
            }

            h4 { 
                width: 100%;
                font-size: 2em; 
                color: lighten($color-accent, $amount: 10);
            }

            p { font-size: 1.5em ; }
        }

        // ARTICLE BODY CONTENT
        div.article-body-content {
            display: block;
            overflow: hidden;
            background-color: $color-light;
            color: $color-dark;
            border-radius: 30px;

            img {
                @include respond-to(small) {
                    float: none;
                    display: block;
                    margin: 30px auto 30px;
                }
                float: left;
                width: 200px;
                height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border: 5px solid $color-dark;
                border-radius: 20px;
                margin: 30px;
            }

            p { 
                font-size: 1.5em; 
                font-weight: bold;
                margin: 30px;
                i { 
                    font-size: 1.6em; 
                }
            }
        }
    }

    // =========================================================
    // ARTICLE FOOTER
    // =========================================================
    footer.article-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: $color-light;
        font-size: 1.5em;
        background-color: $color-dark;
        padding: 20px;
        border-radius: 40px;
        margin-top: 10px;

        strong, p {width: 100%;}
        
        p { color: $color-accent-light }

        hr {
            border: 2px solid $color-light;
            width: 100%;
            margin: 15px;
        }

        // VOTE BUTTONS
        .vote-btns {
            border-radius: 20px;
            width: 100%;
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;

            button {
                background-color: $color-accent;
                padding: 30px;
                border: 3px solid $color-dark;
                border-radius: 50px;
                color: $color-light;
                font-size: 1.5em;
                font-weight: bold;
                transition: all 0.1s linear;
                text-wrap: nowrap;

                &:hover {
                    cursor: pointer;
                    background-color: $color-accent-light;
                    color: $color-dark;
                    border: 3px solid $color-dark;
                    transform: scale(0.95);
                }
            }
        }

        button.vote-confirm {
            background-color: $color-light;
            width: 300px;
            padding: 20px;
            border: 3px solid $color-dark;
            border-radius: 10px;
            color: $color-dark;
            font-size: 1.5em;
            font-weight: bold;
            transition: all 0.1s linear;

            &:hover {
                cursor: pointer;
                background-color: $color-accent-light;
                color: $color-dark;
                transform: scale(0.95);
            }
        }
    }
}