@import 'variables';

header.body-header {
    padding: 10px 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        $color-light-transparent 0%,
        $color-dark-transparent 30%,
        $color-dark-transparent 70%,
        $color-light-transparent 100%
    );
    
    a.btn-index {
        background-color: $color-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.2s ease;
        border: 3px solid $color-light;
        border-radius: 100px;

        &:hover { 
            transform: scale(1.05); 
            box-shadow: #000 0 0 10px 2px;
            animation: animarFondo 0.7s linear infinite;
        }

        img {
            width: 90px;
            padding: 16px 13px 10px;
        }

        h1 {
            @include respond-to(small_medium) { display: none; }
            
            color: $color-light;
            font-size: 3em;
            font-family: $titulo;
            margin-right: 30px;
        }
    }

    .user {
        background-color: $color-dark;
        padding-left: 30px;
        border: 3px solid $color-light;
        border-right: none;
        border-radius: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $color-light;

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include respond-to(small) { display: none; }

            strong { 
                font-size: 1.3em; 
                margin-bottom: 5px;
            }
        }

        a {
            width: 80px;
            height: 80px;
            text-decoration: none;
            transition: all 0.1s ease;

            &:hover { transform: scale(1.05); }

            img {
                width: 100%;
                border: 3px solid $color-light;
                border-radius: 100px;
                transition: transform 0.2s ease;
                box-shadow: $color-shadow -5px 0 5px 0;

                &:hover { 
                    transform: scale(1.05);
                    box-shadow: #000 0 0 10px 2px;
                }
            }
        }
    }
}