@import 'variables';

$color-dark: #351b10;

header.body-header {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../../img/madera.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    a.btn-index {
        background: linear-gradient(
            to bottom,
            $color-primary-transparent,
            $color-dark-transparent
        );
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.2s ease;
        border: 2px solid $color-light;
        border-radius: 100px;
        box-shadow: #000 0 0 10px 2px;

        &:hover { 
            z-index: 200;
            transform: scale(1.02);
            animation: animarFondo 0.7s linear infinite;
        }

        img { width: 90px; padding: 16px 13px 10px; }
        h1 {
            @include respond-to(small_medium) { display: none; }
            color: $color-light;
            font-size: 3em;
            font-family: $titulo;
            margin-right: 30px;
            text-shadow: $color-shadow 3px 3px;
        }
    }

    .user {
        position: relative;
        background: linear-gradient(
            to bottom,
            $color-primary-transparent,
            $color-dark-transparent
        );
        padding-left: 30px;
        border: 2px solid $color-light;
        border-right: none;
        border-radius: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $color-light;
        text-shadow: $color-shadow 2px 2px;
        box-shadow: #000 0 0 10px 2px;

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            pointer-events: none;

            strong { 
                font-size: 1.2em; 
                margin-bottom: 5px;
                font-family: $titulo;
            }
        }

        .user-trigger {
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                aspect-ratio: 1 / 1;
                border: 2px solid $color-light;
                border-radius: 100px;
                transition: all 0.2s ease;
                box-shadow: $color-shadow -5px 0 5px 0;

                &:hover { transform: scale(1.1); }
            }
        }

        .user-dropdown {
            display: none;
            position: absolute;
            top: 105%;
            right: 0;
            width: 200px;
            background-color: $color-light;
            border: 3px solid $color-dark;
            border-radius: 5px;
            box-shadow: #000 5px 5px 15px;
            z-index: 400;
            text-shadow: none;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    &:last-child { border: none; }

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 15px;
                        padding: 15px 20px;
                        color: $color-dark;
                        text-decoration: none;
                        transition: all 0.2s ease;

                        i { width: 20px; text-align: center; }

                        &:hover { 
                            background-color: $color-primary;
                            color: $color-light;
                            text-shadow: $color-shadow 2px 2px;
                        }

                        &.logout:hover { background-color: $color-incidencia; }
                    }
                }

                hr {
                    border: 2px solid $color-dark;
                }
            }
        }

        &.is-active {
            .user-dropdown { display: block; }
            .user-trigger img { transform: scale(1.1); box-shadow: #000 0 0 10px 2px; }
        }
    }
}