@import './variables';

nav {
    position: sticky;
    top: 0;
    z-index: 200;

    ul {
        width: 100%;
        border-bottom: 3px solid $color-light;
        list-style-type: none;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-shadow 2px 2px;
        text-wrap: nowrap;
        background: linear-gradient(
            to right,
            $color-light-transparent 0%,
            $color-dark-transparent 30%,
            $color-dark-transparent 70%,
            $color-light-transparent 100%
        );

        li a { color: $color-light; }
    }
}