@import './variables';

nav {
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: $color-shadow 0 10px 10px 1px;
    background: url(../../img/encabezado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    ul.navegacion {
        width: 100%;
        border-bottom: 3px solid $color-light;
        list-style-type: none;
        padding: 15px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-shadow 2px 2px;
        text-wrap: nowrap;
        font-size: 1.2em;
        background: linear-gradient(
            to top,
            #050d25c7 0,
            #ffffff00 100%
        );
        
        li {
            font-family: $titulo;

            a { 
                color: $color-light; 
                font-family: $titulo; 
            }
        }
    }
}