@import 'variables';
@import 'mixins';

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .num-link, .pag-arrow, .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 30px;
        transition: all 0.2s ease;
        border: 2px solid $color-light;
        background-color: $color-light;
        color: $color-primary-dark;
        box-shadow: $color-shadow 2px 2px 0;
    }

    a.num-link:hover, a.pag-arrow:hover {
        color: $color-light;
        background-color: $color-primary;
        text-shadow: $color-shadow 2px 2px;
        border-color: $color-light;
        transform: scale(1.1);
        box-shadow: $color-shadow 4px 4px 0;
    }

    .activo, .dots {
        background-color: $color-primary-dark;
        color: $color-light;
        border-color: $color-light;
        cursor: default;
        box-shadow: 0 4px 10px $color-shadow;
    }

    @include respond-to(small) {
        .num-link:not(.activo) {
            display: none;
        }
    }
}