@import 'variables';
@import 'mixins';

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .num-link, .pag-arrow, .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        padding: 0 5px;
        text-decoration: none;
        border-radius: 30px;
        font-weight: 600;
        transition: all 0.3s ease;
        border: 3px solid $color-dark;
        background-color: white;
        color: $color-dark;
    }

    a.num-link:hover, a.pag-arrow:hover {
        color: $color-light;
        background-color: $color-dark;
        border-color: $color-light;
        transform: scale(1.1);
    }

    .activo, .dots {
        background-color: $color-dark;
        color: $color-light;
        border-color: $color-light;
        cursor: default;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .pag-arrow {
        background-color: $color-light;
        border-color: $color-dark;
        
        i { font-size: 0.9em; }
    }

    @include respond-to(small) {
        .num-link:not(.activo) {
            display: none;
        }
    }
}