@import 'variables';

section.services-body article {
    width: 380px;
    background: linear-gradient(
        $color-dark,
        $color-dark-transparent
    );
    padding: 10px;
    border: 3px solid $color-light;
    box-shadow: $color-dark 5px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    &:nth-child(4n + 1) { .article-header { background-color: $color-primary; }}
    &:nth-child(4n + 2) { .article-header { background-color: $color-accent-light; }}
    &:nth-child(4n + 3) { .article-header { background-color: $color-accent; }}
    &:nth-child(4n + 4) { .article-header { background-color: lighten($color-dark, $amount: 30); }}

    .article-header {
        padding: 15px;
        border-radius: 10px;
        border: 3px solid $color-dark;
        box-shadow: $color-dark 3px 3px;

        h3 { 
            font-size: 1.5em; 
            margin-bottom: 5px;
            color: $color-light;
            text-shadow: $color-dark 3px 3px;
        }

        p { 
            font-style: italic; 
            color: $color-light;
            text-shadow: $color-dark 2px 2px;
        }
    }

    .article-body {
        border-radius: 10px;
        color: $color-dark;
        font-weight: bold;

        ul {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;

            li {
                background-color: $color-light;
                padding: 10px;
                border-radius: 10px;
                border: 3px solid $color-dark;
                box-shadow: $color-dark 3px 3px;

                u { color: $color-primary; }


                a {
                    color: #2ecc71;
                    background-color: $color-dark;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
