@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$titulo: 'Fuzzy Bubbles';
$subtitulo: 'Kumbh Sans';
$parrafo: 'Indie Flower';

$color-primary: #c44051;
$color-accent: #975eb8;
$color-accent-light: #c96625;
$color-dark: #122442;
$color-light: #f5f5ff;
$color-card: #696fcc;
$color-shadow: #000000a4;

$color-primary-transparent: #c44051b9;
$color-accent-transparent: #975eb8e8;
$color-accent-light-transparent: #c9662598;
$color-dark-transparent: #2941687e;
$color-light-transparent: #ffffff8e;