@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$titulo: 'Croissant One';
$parrafo: 'SN Pro';

$color-accent: #749449;
$color-primary: #c77a33;
$color-dark: #202b1d;
$color-light: #f5f5ff;
$color-shadow: #000000a4;

$color-accent-transparent: #5c743f81;
$color-primary-transparent: #c77a3388;
$color-dark-transparent: #1d130cda;
$color-light-transparent: #ffffff8e;

$color-votacion: #82913e;
$color-incidencia: #d65454;
$color-aviso: #c29135;