@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$titulo: 'Fuzzy Bubbles';
$subtitulo: 'SN Pro';
$parrafo: 'Indie Flower';

$color-primary: #c4315d;
$color-accent: #8456ce;
$color-accent-light: #e46e20;
$color-dark: #11264b;
$color-light: #f5f5ff;
$color-card: #375a97;

$color-primary-transparent: #b61e4cb9;
$color-accent-transparent: #6e288fe8;
$color-accent-light-transparent: #ff914798;
$color-dark-transparent: #29416894;
$color-light-transparent: #ffffff8e;