@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

@import '../variables';
@import '../mixins';
@import '../article-card';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Imprima';
}

// =========================================================
// HTML
// =========================================================
html {
    background: url(../../img/fondo-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}

// =========================================================
// BODY
// =========================================================
body {
    background-color: $color-light-transparent;
    border-radius: 20px;
    height: 95vh;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    // =========================================================
    // HEADER
    // =========================================================
    header.body-header {
        background-color: $color-accent;
        border-radius: 100px;
        padding: 20px 20px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-shadow: darken($color-primary, 10%) 3px 3px 0;
        
        a.btn-index {
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover { transform: scale(1.05); }

            img {
                @include respond-to(small) { display: none; }
    
                width: 60px;
                margin-right: 10px;
            }
    
            h1 {
                color: $color-light;
                font-size: 3em;
            }
        }
    
        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $color-light;
    
            p {
                @include respond-to(small_medium) { display: none; }

                text-align: end;
                font-size: 1.3em;
                text-shadow: darken($color-primary, 10%) 2px 2px 0px;
                font-weight: bold;
            }
    
            a {
                text-decoration: none;
                transition: all 0.1s ease;

                &:hover { transform: scale(1.2); }

                i { 
                    color: $color-light;
                    font-size: 3em; 
                }

                img {
                    margin-right: 10px;
                    width: 90px;
                    border: 5px solid $color-dark;
                    border-radius: 100px;
                }
            }
        }
    }

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        gap: 30px;
        align-items: flex-start;

        // =========================================================
        // ASIDE
        // =========================================================
        aside.main-aside {  
            @include respond-to(small_medium) { display: none; }
            background-color: $color-aside-background;
            border-radius: 20px;
            padding: 30px;
            height: fit-content;

            h3 {
                color: $color-light;
                text-shadow: darken($color-aside-background, $amount: 10) 3px 3px 0;
                font-size: 2em;
                margin-bottom: 10px;
            }

            hr {
                border: 2px solid $color-light;
                box-shadow: darken($color-aside-background, $amount: 10) 3px 3px 0;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                li {
                    padding: 10px;

                    a {
                        background-color: $color-light;
                        color: $color-aside-background;
                        box-shadow: darken($color-aside-background, $amount: 10) 3px 3px 0;
                        font-size: 1.5em;
                        font-weight: bold;
                        text-decoration: none;
                        text-wrap: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;
                        padding: 10px;
                        border-radius: 10px;
                        border: 3px solid $color-light;
                        transition: transform 0.1s linear;

                        &:hover {
                            background-color: #fff;
                            border: 3px solid darken($color-aside-background, $amount: 15);
                            color: darken($color-aside-background, $amount: 15);
                            transform: scale(1.05);
                        }
                    }
                }   
            }
        }

        // =========================================================
        // SECTION / FEED
        // =========================================================
        section.feed {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 690px;
            overflow-y: auto;
            border-radius: 10px;
            padding-right: 20px;
            padding-top: 50px;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 5%,
                black 95%,
                transparent 100%
            );

            // SECTION HEADER
            .feed-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                font-size: 1.5em;

                h2 { color: $color-dark; }

                .feed-btns {
                    display: flex;
                    justify-content: end;
                    flex-wrap: wrap;
                    gap: 10px;

                    .btn-filter, .btn-order {
                        @include respond-to(small) { 
                            width: auto;
                            padding: 12px 9px;
                            p { display: none; }
                        }
                        width: 200px;
                        color: $color-dark;
                        background-color: $color-light;
                        padding: 10px 20px;
                        border: 3px solid;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        text-decoration: none;
                        font-weight: bold;
                        transition: all 0.2s ease;
    
                        &:hover {
                            transform: scale(1.1);
                            background-color: lighten($color-accent, $amount: 30);
                        }
                    }
                }
            }

            hr {
                border: 3px solid $color-dark;
                border-radius: 10px;
                margin: 10px 0 30px;
            }

            // =========================================================
            // ARTICLE CARD
            // =========================================================
            article { @include article; }
        }

        .btn-up {
            margin: auto;
            margin-bottom: 80px;
            padding: 12px 10px;
            border: 5px solid $color-accent;
            border-radius: 50px;
            background-color: $color-dark;
            color: $color-light;
            font-size: 2em;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.2);
                color: $color-dark;
                background-color: $color-light;
            }
        }
    }
}