@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

@import '../variables';
@import '../mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Imprima';
}

// =========================================================
// HTML
// =========================================================
html {
    background: url(../../img/fondo-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 50px 20px;
}

// =========================================================
// BODY
// =========================================================
body {
    background-color: $color-light-transparent;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    // =========================================================
    // HEADER
    // =========================================================
    header {
        position: sticky;
        top: 20px;
        z-index: 10;
        background-color: $color-accent;
        border-radius: 100px;
        padding: 20px 40px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-shadow: darken($color-primary, 10%) 3px 3px 0px;
    
        h1 {
            color: $color-light;
            font-size: 3em;
        }
    
        .usuario {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $color-light;
    
            p {
                @include respond-to(small) { display: none; }

                text-align: end;
                font-size: 1.3em;
                text-shadow: darken($color-primary, 10%) 2px 2px 0px;
                font-weight: bold;
            }
    
            a {
                text-decoration: none;
                transition: all 0.1s ease;

                &:hover { transform: scale(1.2); }

                i { font-size: 3em; }
            }
        }
    }

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        gap: 30px;
        align-items: flex-start;

        // =========================================================
        // ASIDE
        // =========================================================
        aside {  
            @include respond-to(small) { display: none; }
            position: sticky;  
            top: 150px;       
            background-color: $color-aside-background;
            border-radius: 20px;
            padding: 30px;
            height: fit-content;

            h3 {
                color: $color-light;
                font-size: 2em;
                margin-bottom: 10px;
            }

            hr {
                border: 2px solid $color-light;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                li {
                    padding: 10px;

                    a {
                        background-color: $color-light;
                        color: $color-aside-background;
                        font-size: 1.5em;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;
                        padding: 10px;
                        border-radius: 10px;
                        border: 3px solid $color-light;
                        transition: transform 0.1s linear;

                        &:hover {
                            background-color: #fff;
                            border: 3px solid darken($color-aside-background, $amount: 15);
                            color: darken($color-aside-background, $amount: 15);
                        }
                    }
                }   
            }
        }

        // =========================================================
        // SECTION / FEED
        // =========================================================
        section.feed {
            flex: 1;
            display: flex;
            flex-direction: column;

            // SECTION HEADER
            .section-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.5em;

                h2 { color: $color-dark; }

                a.btn-filtrar {
                    color: $color-dark;
                    background-color: $color-light;
                    padding: 10px 20px;
                    border: 3px solid;
                    border-radius: 50px;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.2s ease;

                    &:hover {
                        transform: scale(1.1);
                        background-color: lighten($color-accent, $amount: 30);
                    }
                }
            }

            hr {
                border: 3px solid $color-dark;
                border-radius: 10px;
                margin: 10px 0 30px;
            }

            // =========================================================
            // ARTICLE / VOTE
            // =========================================================
            article {
                @include article;
            }
        }
    }
}