@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Imprima&family=Playwrite+NZ+Basic:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Imprima&family=Playwrite+NZ+Basic:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Imprima&family=Playwrite+NZ+Basic:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imprima";
}

html {
  background: url(../../img/fondo-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px;
}

.menu-checkbox {
  display: none;
}

.menu-button {
  display: flex;
  position: sticky;
  top: 20px;
  right: 10px;
  border: 3px solid #152015;
  z-index: 101;
  background-color: #d9d9ce;
  color: #152015;
  font-size: 2em;
  padding: 7px 4px;
  margin-left: 40px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #152015 3px 3px 0;
  transition: all 0.3s ease;
}
@media (max-width: 950px) {
  .menu-button {
    border-radius: 10px 0 0 10px;
    border-right: none;
    top: 260px;
    right: 0;
    position: fixed;
    margin: 0;
  }
}
.menu-button:hover {
  transform: scale(1.1);
  background-color: #6d833a;
  text-shadow: #d9d9ce 3px 3px;
  box-shadow: #152015 5px 5px 0;
}

.menu-checkbox:checked ~ aside.main-aside {
  margin-right: -400px;
  opacity: 0;
}
@media (max-width: 950px) {
  .menu-checkbox:checked ~ aside.main-aside {
    right: 0;
    margin-right: 0;
    opacity: 1;
  }
}
@media (max-width: 950px) {
  .menu-checkbox:checked ~ .menu-button {
    right: 30px;
    top: 65px;
    border: 3px solid #152015;
    border-radius: 10px;
  }
}

header.body-header {
  background: linear-gradient(160deg, rgba(109, 131, 58, 0.7137254902) 55%, rgba(21, 32, 21, 0.8784313725) 80%);
  border-radius: 100px;
  padding: 20px 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: rgb(32.3555555556, 51.6444444444, 32.3555555556) 3px 3px 0;
}
header.body-header a.btn-index {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
}
header.body-header a.btn-index:hover {
  transform: scale(1.05);
}
@media (max-width: 600px) {
  header.body-header a.btn-index img {
    display: none;
  }
}
header.body-header a.btn-index img {
  width: 90px;
  margin-right: 10px;
}
header.body-header a.btn-index h1 {
  color: #d9d9ce;
  font-size: 4em;
  font-family: "Grand Hotel";
}
header.body-header .user {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #d9d9ce;
}
@media (max-width: 950px) {
  header.body-header .user p {
    display: none;
  }
}
header.body-header .user p {
  text-align: end;
  font-size: 1.3em;
  text-shadow: rgb(32.3555555556, 51.6444444444, 32.3555555556) 2px 2px 0px;
  font-weight: bold;
}
header.body-header .user a {
  text-decoration: none;
  transition: all 0.1s ease;
}
header.body-header .user a:hover {
  transform: scale(1.2);
}
header.body-header .user a i {
  color: #d9d9ce;
  font-size: 3em;
}
header.body-header .user a img {
  margin-right: 10px;
  width: 90px;
  border: 5px solid #152015;
  border-radius: 100px;
}

aside.main-aside {
  width: 360px;
  padding: 100px 30px;
  height: 95vh;
  position: sticky;
  top: 20px;
  right: -100%;
  transition: all 0.4s ease;
}
@media (max-width: 950px) {
  aside.main-aside {
    position: fixed;
    top: 0;
    right: -100%;
    left: auto;
    max-width: 80%;
    height: 100vh;
    z-index: 100;
    transition: all 0.4s ease;
    padding-top: 80px;
    border-left: 2px solid #d9d9ce;
    background: linear-gradient(to bottom, #152015, #6d833a, #6d833a, #152015);
  }
}
aside.main-aside {
  background: linear-gradient(to bottom, rgba(21, 32, 21, 0.8784313725), rgba(109, 131, 58, 0.7137254902) 150px, rgba(109, 131, 58, 0.7137254902) calc(100% - 150px), rgba(21, 32, 21, 0.8784313725));
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
}
aside.main-aside h3 {
  color: #d9d9ce;
  text-shadow: #152015 3px 3px 0;
  font-size: 1.8em;
  font-family: "Playwrite NZ Basic";
  margin-bottom: 10px;
}
aside.main-aside hr {
  border: 2px solid #d9d9ce;
  box-shadow: #152015 3px 3px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside.main-aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside.main-aside ul li {
  position: relative;
}
aside.main-aside ul li a, aside.main-aside ul li p {
  background-color: #d9d9ce;
  color: #152015;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  border: 3px solid #152015;
  box-shadow: #152015 4px 4px 0;
  border-radius: 10px;
  transition: all 0.2s ease;
}
aside.main-aside ul li p {
  cursor: default;
}
aside.main-aside ul li:hover > a, aside.main-aside ul li:hover > p {
  transform: scale(1.05);
  background-color: #345334;
  color: #d9d9ce;
  text-shadow: #152015 3px 3px;
}
aside.main-aside ul li:hover > p {
  margin-bottom: 5px;
}

section.services-body article {
  width: 380px;
  background-color: rgba(109, 131, 58, 0.7137254902);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
section.services-body article .article-header {
  background-color: rgba(21, 32, 21, 0.8784313725);
  padding: 15px;
  border-radius: 10px;
}
section.services-body article .article-header h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #afce8d;
}
section.services-body article .article-header p {
  font-style: italic;
  color: #d9d9ce;
}
section.services-body article .article-body {
  border-radius: 10px;
  color: #345334;
  font-weight: bold;
}
section.services-body article .article-body ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
section.services-body article .article-body ul li {
  background-color: rgba(255, 255, 255, 0.3843137255);
  padding: 10px;
  border-radius: 10px;
}
section.services-body article .article-body ul li u {
  color: #152015;
}
section.services-body article .article-body ul li a {
  color: #345334;
}

body {
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body main .services {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  padding: 50px 20px 0;
  background-color: rgba(255, 255, 255, 0.3843137255);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
}
body main .services .services-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}
body main .services .services-header h2 {
  color: #152015;
  font-size: 2.5em;
}
body main .services .services-header input {
  background-color: #d9d9ce;
  padding: 10px;
  border: 3px solid #152015;
  border-radius: 20px;
  width: 40%;
  font-size: 1.3em;
}
body main .services hr {
  border: 3px solid #152015;
  border-radius: 10px;
  margin: 10px 0 30px;
}
body main .services .services-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=servicios.css.map */