@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/service-card';
@import '../common/pager';
@import '../common/nav';

// =========================================================
// BODY
// =========================================================
body {
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        // =========================================================
        // SERVICES
        // =========================================================
        .services {
            width: 100%;
            max-width: 1200px;
            background-color: $color-dark-transparent;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 100px 20px 100px;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100px,
                black calc(100% - 100px),
                transparent 100%
            );

            // SERVICES HEADER
            .services-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding-bottom: 20px;

                h2 { 
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    margin-right: 30px;
                    text-shadow: $color-dark 3px 3px 0;
                    width: 100%;
                    text-wrap: nowrap;
                }

                small { font-style: italic }

                input {
                    background-color: $color-light;
                    padding: 10px;
                    border: 3px solid $color-dark;
                    border-radius: 20px;
                    width: 100%;
                    max-width: 500px;
                    font-size: 1em;
                    margin-left: auto;
                }
            }

            // SERVICES BODY
            .services-body {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                padding-bottom: 40px;
            }
        }
    }
}