@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/nav';
@import '../common/btn-filter';
@import '../common/msg';

@mixin input-base {
    width: 100%;
    max-width: 400px;
    padding: 15px 20px;
    border: 3px solid $color-light;
    border-radius: 15px;
    font-size: 1.2em;
    background-color: $color-light;

    &:focus {
        outline: none;
        border-color: $color-primary;
    }
}

body {
    main {
        max-width: 1000px;
        margin: auto;

        .panel-control {
            width: 100%;
            margin: auto;
            padding: 100px 0 100px;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100px,
                black calc(100% - 100px),
                transparent 100%
            );
            background-color: $color-accent-transparent;
            display: flex;
            flex-direction: column;

            // SECTION HEADER
            .section-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding: 0 20px 20px;

                h2 { 
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    font-family: $titulo;
                    margin-right: 30px;
                    text-shadow: $color-dark 3px 3px 0;
                    width: 100%;
                }
            }

            hr {
                width: 100%;
                border: 3px solid $color-light;
                border-radius: 10px;
                margin-bottom: 30px;
                box-shadow: $color-dark 3px 3px 0;
            }

            form {
                max-width: 880px;
                width: 100%;
                margin: auto;
                padding: 20px;

                .form {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;

                    .casilla {
                        @include input-base;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        background-color: $color-dark;
                        border: 5px solid $color-dark;
                        border-radius: 20px;
                        color: $color-light;

                        label, p { 
                            margin: 10px 20px; 
                        }

                        input:not(.checkbox, .imagen) { 
                            @include input-base; 
                        }

                        .seleccion {
                            @include input-base;
                            background-color: $color-light;
                            appearance: none;
                            cursor: pointer;
                        }

                        .area-texto {
                            @include input-base;
                            min-height: 150px;
                            max-height: 300px;
                        }
                    }

                    .checkbox-background {
                        @include input-base;
                        background-color: $color-light;
                        height: 57px;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .checkbox {
                            min-width: 0;
                            max-width: none;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                        }

                        .checkbox-info {
                            color: #000;
                        }
                    }
                }

                .guardar {
                    @include input-base;

                    width: 100%;
                    display: block;
                    margin: 50px auto 0;
                    cursor: pointer;
                    background-color: $color-light;
                    color: $color-dark;
                    border: 2px solid $color-light;
                    box-shadow: $color-shadow 3px 3px;
                    font-weight: bold;
                    font-size: 2em;
                    font-family: $titulo;
                    transition: all 0.2s ease;

                    &:hover {
                        scale: 1.02;
                        color: $color-light;
                        background-color: $color-accent;
                        box-shadow: $color-shadow 6px 6px;
                        text-shadow: $color-shadow 3px 3px;
                    }
                }
            }
        }

        .current-img {
            margin: auto;
            text-align: center;
            margin-bottom: 30px;

            p { 
                margin-bottom: 20px; 
                font-size: 2em;
                color: $color-light;
            }
        }

        .opcion-item {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            .input-voto {
                margin-bottom: 10px;
            }

            .btn-borrar {
                background-color: $color-light;
                cursor: pointer;
                color: $color-incidencia;
                border: none;
                border-radius: 15px;
                width: 65px;
                height: 58px;
                border: 2px solid $color-light;
                transition: all 0.2s ease;

                &:hover {
                    background-color: $color-incidencia;
                    color: $color-light;
                    text-shadow: $color-shadow 3px 3px;
                }
            }
        } 

        .imagen {
            padding: 10px;
            width: 100%;
            background-color: $color-light;
            color: $color-dark;
            border-radius: 15px;
            font-size: 1em;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            &::file-selector-button {
                display: block;
                margin-bottom: 10px;
                width: 100%;
                cursor: pointer;
                font-size: 1.1em;
                border: 2px solid $color-dark;
                background-color: $color-dark;
                color: $color-light;
                padding: 8px 15px;
                border-radius: 10px;
                margin-right: 15px;
                transition: all 0.2s;

                &:hover {
                    background-color: $color-accent;
                    text-shadow: $color-shadow 2px 2px;
                }
            }
        }

        #btn-agregar-opcion:hover { transform: none; box-shadow: none; background-color: $color-primary; }
    }
}

