@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/nav';

@mixin input-base {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    padding: 15px 20px;
    border: 0;
    border-radius: 15px;
    font-size: 1.2em;
    background-color: $color-light;
}

body {
    main {
        .panel-control {
            width: 100%;
            margin: auto;
            padding: 100px 20px 100px;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100px,
                black calc(100% - 100px),
                transparent 100%
            );
            background-color: $color-dark-transparent;
            border-radius: 5px;
            display: flex;
            flex-direction: column;

            // SECTION HEADER
            .section-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding-bottom: 20px;

                h2 { 
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    margin-right: 30px;
                    text-shadow: $color-dark 3px 3px 0;
                    width: 100%;
                }
            }

            form {
                max-width: 880px;
                margin: auto;
                margin-top: 20px;
                padding: 20px;
                background: radial-gradient(
                    $color-card,
                    lighten($color-dark, $amount: 10)
                );
                border: 3px solid $color-light;
                box-shadow: $color-dark 5px 5px 0;
                border-radius: 10px;

                .form {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;

                    .casilla {
                        @include input-base;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        background-color: $color-dark;
                        border: 5px solid $color-dark;
                        border-radius: 20px;
                        color: $color-light;

                        label, p { 
                            margin: 10px 20px; 
                        }

                        input:not(.checkbox, .imagen) { 
                            @include input-base; 
                        }

                        .seleccion {
                            @include input-base;
                            background-color: $color-light;
                            appearance: none;
                            cursor: pointer;
                        }

                        .area-texto {
                            @include input-base;
                            min-height: 150px;
                            max-height: 300px;
                        }

                        .imagen {
                            padding: 15px;
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                            background-color: $color-light;
                            color: #000;
                            font-size: 0.7em;
                            cursor: pointer;

                            &::file-selector-button {
                                cursor: pointer;
                                font-size: 1.7em;
                                border: 0;
                                background-color: $color-light;
                                font-family: 'Jura';
                            }
                        }
                    }

                    .checkbox-background {
                        @include input-base;
                        background-color: $color-light;
                        height: 57px;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .checkbox {
                            min-width: 0;
                            max-width: none;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                        }

                        .checkbox-info {
                            color: #000;
                        }
                    }
                }

                .guardar {
                    @include input-base;
                    width: 100%;
                    display: block;
                    margin: 50px auto 0;
                    cursor: pointer;
                    background-color: $color-light;
                    color: $color-dark;
                    border: 3px solid $color-dark;
                    box-shadow: $color-dark 3px 3px;
                    font-weight: bold;
                    font-size: 2em;
                    transition: all 0.2s ease;

                    &:hover {
                        scale: 1.02;
                        color: $color-light;
                        text-shadow: $color-dark 3px 3px;
                        background-color: $color-accent-light;
                        box-shadow: $color-dark 6px 6px;
                    }
                }
            }
        }
    }
}

