@import '../common/base';
@import '../common/variables';
@import '../common/mixins';
@import '../common/header';
@import '../common/aside';
@import '../common/service-card';
@import '../common/pager';
@import '../common/btn-filter';

// =========================================================
// BODY
// =========================================================
body {
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    // =========================================================
    // MAIN
    // =========================================================
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        // =========================================================
        // PANEL PRINCIPAL
        // =========================================================
        .panel-control {
            flex-direction: column;
            margin: auto;
            width: 100%;
            max-width: 1500px;
            border-radius: 10px;
            padding: 60px 20px;
            background-color: $color-light-transparent;
            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 2%,
                black 98%,
                transparent 100%
            );

            // SECTION HEADER
            .section-header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                gap: 10px;
                padding-bottom: 20px;

                h2 { 
                    font-family: $subtitulo;
                    flex: 1;
                    color: $color-light; 
                    font-size: 2.5em;
                    margin-right: 30px;
                    text-shadow: $color-dark 3px 3px 0;
                    width: 100%;
                }
            }

            hr {
                width: 100%;
                border: 3px solid $color-light;
                border-radius: 10px;
                margin-bottom: 50px;
                box-shadow: $color-dark 3px 3px 0;
            }

            .acciones {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 30px;
                

                li {
                    flex: 1 1 200px;
                    display: flex;

                    a {
                        width: 100%;
                        color: $color-dark;
                        background-color: $color-light;
                        padding: 15px;
                        border: 3px solid $color-dark;
                        box-shadow: $color-dark 2px 2px;
                        border-radius: 50px;
                        transition: all 0.2s ease;
                        text-wrap: nowrap;
                        text-decoration: none;

                        &:hover {
                            transform: scale(1.05);
                            color: $color-light;
                            text-shadow: $color-dark 1px 2px;
                            background-color: $color-accent-light;
                            box-shadow: $color-dark 3px 3px;
                        }

                        i { margin-right: 10px; }
                    }
                }
            }

            .caja-overflow {
                margin: 30px 0;
                overflow-x: auto;
                border: 3px solid $color-light;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    background-color: $color-light;
                    text-align: center;

                    thead {
                        height: 80px;
                        background-color: #131313;
                        color: $color-light;
                    }

                    tbody {
                        tr:nth-child(odd) {
                            background-color: #acacac;
                            color: #000;

                            i { 
                                color: #000; 
                                transition: all 0.2s ease; 
                                &:hover { 
                                    text-shadow: $color-light 3px 3px 0px; 
                                    transform: scale(1.3);
                                }
                            }
                        }

                        tr:nth-child(even) {
                            background-color: #464646;
                            color: $color-light;

                            i { 
                                color: $color-light;
                                transition: all 0.2s ease; 
                                &:hover { 
                                    text-shadow: #000 3px 3px 0px; 
                                    transform: scale(1.3);
                                }
                            }
                        }
                    }

                    th, td {
                        padding: 10px;
                        font-family: 'Inter', sans-serif;
                        white-space: nowrap;
                        border: 1px solid #000;

                        a {
                            text-decoration: none;
                            i { font-size: 1.5em; }
                        }

                        img {
                            width: 150px;
                            border-radius: 10px;
                            box-shadow: #000 0px 0px 15px 3px;
                        }
                    }

                    td.text-area {
                        font-size: 1em;
                        min-width: 25ch;
                        white-space: pre-line;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}